/*In this case yellow color will come as id-selector has highest specificity*/
#divi {
    background-color: yellow;
}

div {
    background-color: red;
    color: blue;
}

.dive {
    background-color: orange;
    font-size: large;
}